* {
  font-family: "Poppins";
  margin: ;
}
/* ------------------------
----------Navbar----------
------------------------ -*/
.nav-bar {
  background-color: #562eff;
  height: 100px;
  color: #ffffff;
  margin: 0 0;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 485px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.the-logo {
  width: 50px;
  height: 50px;
}
.menu {
  display: flex;
  gap: 36px;
  align-items: center;
}
.menu li {
  list-style: none;
}
/* -----------------------------
---------main section---------- 
-------------------------------*/
.body {
  background: #e5e5e5;
}

.main-section {
  width: 870px;
  height: 679px;
  margin: 0 auto;
  border-radius: 5px;
  background: #ffffff;
}
.top-player {
  font-size: 24px;
  color: #562eff;
  margin-left: 30px;
  padding-top: 33px;
  margin-bottom: 0px;
}
.player-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;

  padding: 30px;
}
.player {
  display: flex;
  gap: 16px;
}
.player img {
  width: 56px;
  height: 56px;
}
hr {
  border: 1px solid #d1d1d1;
  width: 807px;
}
/*-------------- ---------------------
-----------------Top Blogs------------
------------------------- -----------*/
.blog {
  padding: 0 57px 20px 30px;
}
.top-blog {
  font-size: 24px;
  color: #562eff;
  padding-top: 0;
  margin-bottom: 10px;
}
.all-blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.blog-1 {
  display: flex;
  gap: 16px;
  align-items: center;
}
.blog-1 img {
  width: 177px;
  height: 117px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  color: #562eff;
}
/* ----------------------------------
---------------latest courses---------
------------------------------------- */
.latest-coure {
  width: 870px;
  height: 380px;
  margin: 0 auto;
  border-radius: 5px;
  background: #ffffff;
}

.all-course {
  display: flex;
  margin-left: 25px;
  gap: 15px;
}
.latest-course-title {
  font-size: 24px;
  color: #562eff;
  margin-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
}
.fa-solid {
  color: #ffc014;
  font-size: 12px;
}
#last-star {
  color: #aeaeae;
}

.course-1 {
  width: 240px;
  height: 270.79px;
  padding: 13px 17px 20px 11px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.course-1 img {
  width: 220px;
  height: 104px;
  transition: width 0.3s ease-in, height 0.3s ease-in;
}
.course-1 img:hover {
  width: 230px;
  height: 114px;
}
.course-1-title {
  font-size: 20.0336px;
  color: #1e1e1e;
}
.instructor {
  font-size: 14.6913px;
  color: #ed6b4f;
}
.course-des {
  display: flex;
  align-items: center;
}
.duration {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 90.83px;
  height: 16px;
  background: #ffe4e8;
  border-radius: 14.6913px;
  padding: 5.36px;
  font-size: 14.6913px;
  margin-left: 10px;
}

.duration img {
  width: 20.03px;
  height: 20.03px;
}
.rating {
  margin-left: 10.71px;
  font-size: 14.6913px;
  color: #a2a2a2;
}

@media screen and (max-width: 688px) {
  .container {
    margin: 0 0;
  }
  .menu {
    gap: 7px;
  }
  .menu {
    margin: right 27px;
  }
  .player-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    /* align-items: center; */
  }
  .top-player {
    text-align: center;
  }
  .main-section {
    width: auto;
    height: 1900px;
    margin-bottom: 50px;
  }
  .all-blogs {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
  .blog {
    padding: 0 40px;
  }
  .blog-1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .blog-1 img {
    width: 280px;
  }
  .blog-title {
    margin: 0;
  }
  .top-blog {
    text-align: center;
  }
  .blog-author {
    margin: 0;
  }
  .all-course {
    flex-direction: column;
    /* margin-left: 40px; */
    justify-content: center;
    align-items: center;
  }
  .latest-coure {
    width: auto;
    height: 1450px;
    margin: 20px auto;
    gap: 50px;
  }
  .hr {
    width: 300px;
  }
  .latest-course-title {
    text-align: center;
  }
  .blog-description {
    text-align: center;
  }
  .top-playerr {
    padding-top: 40px;
  }
  body,
  html {
    width: 100vw;
    overflow-x: hidden;
    padding: ;
  }
  .body {
    margin: 0;
  }
  .course-1 {
    height: 380px;
    width: 320px;
  }
}
